.benefits {
  padding: 100px 5%;

  background: linear-gradient(
    to bottom,
    #faf7f2,
    #fffaf5
  );

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 30px;

  text-align: center;
}

.benefits div {
  background: white;

  padding: 40px 25px;

  border-radius: 20px;

  box-shadow:
    0 10px 30px rgba(0,0,0,.08);

  transition: all .4s ease;
}

.benefits div:hover {
  transform: translateY(-10px);

  box-shadow:
    0 20px 40px rgba(0,0,0,.12);
}

.benefits div span {
  font-size: 3rem;

  display: block;

  margin-bottom: 20px;
}

.benefits h3 {
  font-size: 1.5rem;

  color: #8d6e63;

  margin-bottom: 10px;
}

.benefits p {
  color: #666;

  line-height: 1.6;
}